:root {
  --ifm-color-primary: #1f6f8b;
  --ifm-color-primary-dark: #195c73;
  --ifm-color-primary-darker: #165367;
  --ifm-color-primary-darkest: #124452;
  --ifm-color-primary-light: #2582a3;
  --ifm-color-primary-lighter: #2990b3;
  --ifm-color-primary-lightest: #33a8cf;
}
